# dependencies
client/node_modules/
server/node_modules/

# environment files
server/.env
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

# build outputs
client/build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
